html, body {
	height: 100%;
}

.parent-panel {
	background: #cccccc; 
	display: table; 
	width: 100%; 
	height: 100%; 
	border-collapse: collapse;
}

.child-panel {
	background: rgb(233, 233, 233); 
	display: table-cell; 
	width: 50%; 
	padding: 10px; 
	height: 100%;
}

.title {
	text-align: center;
}

.separator {
	background:rgb(255, 255, 255);
	width:2px;
	height:0px;
}

.my_slider {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 20px;
}

.s_exp {
	padding: 10px;
}

#canvas{
	min-width: 200px;
	min-height: 200px;
	position: absolute;
}

#reset-btn{
	display: block;
	margin: 0 0 0 auto;
}